<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("./layout/header.ejs") %>
    <h1>SMTH here <i><%= title %></i></h1>
    <p><%= content %></p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Recusandae aperiam reiciendis ipsam voluptatibus laboriosam eligendi nulla, iste libero corporis ea veritatis quam. 
        Assumenda saepe eveniet, inventore totam id ut fugiat?
    </p>
</body>
</html>
<%-include("./layout/footer.ejs")%>